package com.fhoster.test.client.place;

public class NameTokens {

	public static final String menu = "menu";
    
	public static final String home = "home";
    
	public static final String page1 = "page1";
    
	public static final String page2 = "page2";

	public static final String page3 = "page3";

	public static final String livetable = "livetable";
	
	#foreach ($number in $numbers)
	public static final String livetable$number = "livetable$number";
	#end
}
